// 給tsx使用的className
.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flex-justify-start {
    justify-content: flex-start;
}
.flex-justify-end {
    justify-content: flex-end;
}
.flex-spbt {
    justify-content: space-between;
}
.flex-spar {
    justify-content: space-around;
}
.flex-align-start {
    align-items: flex-start;
}
.flex-align-end {
    align-items: flex-end;
}
.flex-wrap {
    flex-wrap: wrap;
}

// 給其他scss使用的mixin
@mixin flex-row($flexSetup) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    @each $key, $value in $flexSetup {
        #{$key}: $value;
    }
}

@mixin flex-column($flexSetup) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    @each $key, $value in $flexSetup {
        #{$key}: $value;
    }
}