@import '../shared.scss';

.todo-list-set {
    border: 1px solid $border-common;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;

    .new-todo-area {
        font-size: 14px;
        @include anim((
            name: example,
            duration: 1s
        ))
    }

    .todo-list {
        padding: 10px;
        list-style: none;
    }
}